# Database
DATABASE_URL=postgresql://postgres:password@postgres:5432/karrerlenz

# Backend
JWT_SECRET=your_jwt_secret_here
ADMIN_EMAIL=angeconstance400@gmail.com
GROQ_API_KEY=your_groq_key
PORT=3000
ML_SERVICE_URL=http://ml-service:5000
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000/api

# ML Service
HF_TOKEN=your_huggingface_token
HF_MODEL_ID=Ange-Constance/karrelenz-career-classifier
GROQ_API_KEY=your_groq_key
GITHUB_TOKEN=your_github_token
PORT=5000
